django==4.2.6
argon2==0.1.10
django-cors-headers==4.3.0
django-environ==0.11.2
djangorestframework==3.14.0
pillow==10.1.0
psycopg2==2.9.9
stripe==2.58.0
boto3==1.17.97
django-storages==1.14.2
django-taggit==4.0.0
django-allauth==0.57.0
django-rest-auth==0.9.5
django-crispy-forms==2.1
django-ckeditor==6.7.0
markdow==3.5
gunicorn==21.2.0
whitenoise==6.6.0
channels==4.0.0
django-redis==5.0.0
sqlparse==0.3.1
asgiref==3.4.1
pytz==2023.3.post1
mutagen==1.45.1
django-celery-beat==2.2.1
celery==5.1.2
python-dateutil==2.8.1
django-bootstrap-v5==1.0.11
